---
layout: default
---

<h1>Speaking</h1>

<p>I've been lucky enough to speak at a number of conferences and meetups on a variety of topics.</p>

<!-- I don't know how to word this -->
<!-- <p>I spend a <strong>lot</strong> of time and effort putting together talks and being involved in the tech community.</p> -->

<ul id="events">
{% for event in site.data.events %}
  <li>
    <h3>
      {% if event.link %}
        <a href="{{event.link}}">{{ event.event }}</a>
      {% else %}
        {{ event.event }}
      {% endif %}

       <!-- &mdash; <small>{{ event.date |  date: "%B %Y" }}</small> -->
   </h3>
    <div class="detail">
      <h4>{{event.name}}</h4>
      {% if event.info %}
        <p>{{event.info | markdownify}}</p>
      {% endif %}
    </div>
  </li>
{% endfor %}
</ul>
