/* components */
.thumb-gallery {
  min-height: 100px;
  display: block;
  /*cursor: ew-resize; looks odd*/
}

.thumb-gallery img {
  display: none;
}

.thumb-gallery img:first-child {
  display: block;
}

.qr-demo .processing {
  background-color: #0088cc;
  border-radius: 100%;
  width: 10px;
  height: 10px;
}

/* win win post */
#demo2 {
  height: 80px;
  background-color: #eee;
  border-radius: 4px;
}

.pull-right {
  float: right;
}

pre {
  overflow-x: scroll;
  background: #f5f5f5;
  padding: 1em;
}

.bumf {
  color: #bbb;
}

.vis {
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  margin: 1em 0;
  height: 400px;
}

.vis svg {
  position: absolute;
}

.vis .tooltip {
  /*position: absolute;*/
  background-color: rgba(255, 255, 255, 0.5);
  color: #000;
  padding: .25em;
}

.visurl {
  width: 70%;
  padding: 0 10px;
}

.examples li {
  margin-bottom: 1em;
}

#cr-debug {
  position: fixed;
  z-index: 100;
  background: #428bca;
  color: #fff;
  list-style: none;
  margin: 0;
  left: 0;
  bottom: 0;
  padding: .5em;
  max-height: 100%;
  max-width: 40%;
  overflow: scroll;
}

#cr-debug span {
  display: block;
  margin: 0;
  line-height: 1em;
}

#cr-debug span.url {
  color: #ddd;
  margin-bottom: .75em;
  font-size: .75em;
}

#pulsar {
  visibility: hidden;
}

#pulsar-graph {
  height: 600px;
  width: 550px;
  max-width: 100%;
}

#pulsar form {
  margin: 2em 0;
}

#pulsar label {
  padding-right: 2em;
}

.email-stats {
  font: 10px sans-serif;
  height: 150px;
}

.email-stats text {
  fill: #aaa;
}

.email-stats .axis {

  path,
  line {
    fill: none;
    stroke: #666;
    shape-rendering: crispEdges;
  }
}

.email-stats .x.axis path {
  stroke: #666;
  stroke-width: 1px;
}

.email-stats .area {
  fill: #ff5722;
  stroke: none;
  stroke-width: 0px;
}

.email-stats svg {
  display: block;
  height: 150px;
}

/* gif stack */
#gs-choose {
  float: right;
}

#gs-choose img {
  width: 8em;
  margin-left: 1em;
}

#gs-palette {
  height: 100px;
  width: 500px;
  max-width: 100%;
}

.gs-label {
  font-style: italic;
  margin-top: 0;
  text-align: right;
  font-size: .75em;
}

/* events page */
ul#events {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  list-style: none;
  padding: 0;
}

@media (max-width: 800px) {
  ul#events {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 540px) {
  ul#events {
    grid-template-columns: 1fr;
  }
}

ul#events h3 {
  margin: 0;
  margin-bottom: .5em;
}

ul#events .detail {
  font-size: .75em;
  font-style: italic;
  color: #777;
  border-left: 3px solid aquamarine;
  margin-left: 1em;
  padding: 0.5em 1em;
}

ul#events .detail h4,
ul#events .detail p {
  margin: .25em;
}

ul#events li {
  margin: .5em 0;
}

ul#events a {
  color: inherit;
  text-decoration: underline;
  transition: .2s;
  padding: .3em;
}

ul#events a:hover {
  background: aquamarine;
}
