body{
	background-color:#fff;
	margin:0;
}
.page{
	margin:auto;
	padding:1em;
	max-width:45em;
}
.icon-twitter{
  float:right;
  width:30px;
  height:22px;
	background: url('../img/bird_blue_16.png') no-repeat right center ;
}
.icon-twitter span{
  display:none;
}

/* youtube */
iframe{
  margin-bottom:1em;
}

h1 a{
  text-decoration: none !important;
}
h1 .date{
  font-size:.4em;
  display:block;
  color:#999;
}

hr.inter-post{
  margin-bottom:12em;
}

a.home{
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  font-family: monospace;
  background-color:#eee;
  text-align: center;
  margin-right: .25em;
  height:1.5em;
  width:1.5em;
  line-height: 1.5em;
  float:left;
}


img {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;

  padding: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);

  margin-bottom:10px;
}

canvas, iframe{
  max-width: 100%;
}

/* components */
.thumb-gallery{
  min-height:100px;
  display: block;
  /*cursor: ew-resize; looks odd*/
}
.thumb-gallery img{
  display:none;
}
.thumb-gallery img:first-child{
  display:block;
}

.qr-demo .processing{
  background-color:#0088cc;
  border-radius: 100%;
  width:10px;
  height:10px;
}


/* win win post */
#demo2{
  height:80px;
  background-color:#eee;
  border-radius: 4px;
}

.pull-right{
  float:right;
}

.bumf{
  color:#bbb;
}

.vis{
    border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);

  margin: 1em 0;
  height: 400px;
}
.vis svg{
  position: absolute;
}
.vis .tooltip{
  /*position: absolute;*/
  background-color: rgba(255,255,255,.5);
  color: #000;
  padding: .25em;
}
.visurl{
  width:70%;
  padding:0 10px;
}

.examples li{
  margin-bottom:1em;
}