body{
	background-color:#fff;
	margin:0;
}
.page{
	margin:9em 3em;
	padding:1em;
	max-width:35em;
}
.icon-twitter{
	background: url('../img/bird_blue_16.png') no-repeat left center ;
	padding-left:18px;
}