@import "content.css";

html,
body {
  min-height: 100%;
}

body {
  font-family: sans-serif;
  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  
  padding: 1em;
  background: #fff;
  color: #000;
  font-size: 100%;
  margin: auto;
  font-weight: 400;
  line-height: 125%;
  max-width: 38em;
}

hr {
  border: none;
  height: 1px;
  background: linear-gradient(90deg, #aaa, #eee);
  opacity: 0.7;
  display: block;
  margin: 3em;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #2c2c2c;
    color: #d4d4d4
  }

  hr {
    background: linear-gradient(90deg, #444, #eee5);
  }
}

h1.title {
  font-size: min(9vw, 4em);
  font-weight: 400;
  margin-bottom: 1.5em;
}

.main {
  margin-bottom: 5em;
}

a {
  color: #49b737;
  text-decoration: none;
  transition: color 0.4s;
}

img {
  max-width: 80%;
  height: auto;
}

a:hover,
a:focus {
  color: inherit;
}

p.lead {
  font-size: 1.2em;
}

p code {
  font-size: 1.2em;
  background: rgba(0, 0, 0, 0.1);
}

figure {
  margin: 0;
}

h1,
.posts {
  font-family: "IBM Plex Mono", monospace;
}

h1 a,
.posts a {
  color: inherit;
  position: relative;
}

h1 a:before,
.posts a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 2px;
  left: 0;
  /* background: #2A7B9B; */
  background: linear-gradient(
    90deg,
    rgba(255, 0, 115, 0.605) 0%,
    rgb(0, 255, 234) 100%
  );

  transform-origin: 0 0;
  transform: scaleX(0) scaleY(1);
  transition: all 0.25s ease-in-out 0s;
}

h1 a:hover:before,
h1 a:focus:before,
.posts a:hover:before,
.posts a:focus:before {
  transform: scaleX(1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
}

.post-title {
  font-size: min(3vw, 1.5rem);
}

ul.posts,
.post-title {
  padding: 0;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
}

ul.posts li,
.post-title li {
  list-style: none;
  margin: 1em;
}

ul.posts a,
.post-title a {
  font-size: 2em;
}

ul.posts time,
.post-title time {
  display: block;
  font-size: min(2vw, 0.75rem);
  opacity: 0.5;
}

img {
  border-radius: 6px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

img.no-border {
  border-radius: 0;
  background: transparent;
  border: none;
  box-shadow: none;
}

canvas,
iframe {
  max-width: 100%;
}


.post-separator {
  margin-bottom: 5em;
}

footer ul {
  padding: 0;
  font-size: smaller;
}

footer li {
  list-style: none;
  display: inline-block;
  margin-right: 0.5em;
}

footer a {
  font-size: 1.5em;
  color: #999;
}

footer a:hover {
  color: #49b737;
}

.social {
  perspective: 1000px;
}

.social a span {
  display: none;
}

.social a img {
  transition: transform 2s, filter 5s;
  transform: scale(0.8);
  filter: hue-rotate(90deg);
  box-shadow: none;
  width: 2.5em;
  height: 2.5em;
  border-radius: 0;
  background: none;
  border: none;
  box-shadow: none;
  margin-bottom: 0;
}

.social:hover a img {
  transition: transform 1s, filter 0.5s;
  transform: scale(1);
  filter: none;
}

.social:hover a:hover img {
  transition: transform 0.1s, filter 0.2s;
  transform: scale(1.2) translateY(-5px);
}

.notice {
  border: 1px solid;
  border-radius: 4px;
  display: inline-block;
  padding: 0.5em;
}
