<!DOCTYPE html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="google-site-verification" content="f60qjofF2MLmAb6lyrrD8VUrgj4UM1S5jjA7BJgJYW4" />
	<meta name="theme-color" content="#C3CCC2">
	<title>{% if title %}{{ title }} &mdash; {% endif %}BenjaminBenBen</title>
	<link href="/atom.xml" type="application/atom+xml" rel="alternate" title="Benjaminbenben Posts">
	<link rel="stylesheet" href="/style/next.css">
	<link rel="stylesheet" href="/style/prism.css">
	<link rel="shortcut icon" href="/favicon.ico" />
	
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=PT+Mono&display=swap" rel="stylesheet">

	<link href="https://twitter.com/benjaminbenben" rel="me">
	<link href="https://github.com/benfoxall" rel="me">
	<link href="mailto:benfoxall@gmail.com" rel="me">
	<meta name="author" content="@benjaminbenben">
	
	<!-- mini-modernizr -->
	<script type="text/javascript">document.getElementsByTagName('html')[0].className = 'js';</script>

	<script type=speculationrules>
  {
    "prerender": [
      {
        "where": { "href_matches": "/*" },
        "eagerness": "moderate"
      }
    ]
  }
</script>
</head>
<body>
	{{ content | safe }}

	<script data-main="/js/main" src="/js/require.js"></script>
	
</body>
</html>
