<!DOCTYPE html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1" >
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="google-site-verification" content="f60qjofF2MLmAb6lyrrD8VUrgj4UM1S5jjA7BJgJYW4" />
	<meta name="theme-color" content="#C3CCC2">
	<title>BenjaminBenBen</title>
	<link href="/atom.xml" type="application/atom+xml" rel="alternate" title="Benjaminbenben Posts">
	<link rel="stylesheet" href="/style/next.css" >
	<meta name="author" content="@benjaminbenben">
	<link rel="shortcut icon" href="/favicon.ico" />

	<!-- mini-modernizr -->
	<script type="text/javascript">document.getElementsByTagName('html')[0].className = 'js';</script>

</head>
<body>
<ul id="cr-debug" class="cr" data-cr="cr-debug" data-bind="foreach: modules, style:{display:'block'}" style="display:none">
	<li><span data-bind="text: $data[0]"></span><span class="url" data-bind="text: $data[1]"></span></li>
</ul>
<!-- <div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<header>
				<a href="/">BenjaminBenBen</a>

				<a href="https://twitter.com/intent/user?screen_name=benjaminbenben" class="icon-twitter ir"><span>@benjaminbenben</span></a>
				<hr />
			</header>
		</div>
	</div>
</div>
 -->


{{ content }}


<script data-main="/js/main" src="/js/require.js"></script>

<script type="text/javascript">
	(function(){function e(b){b=b||window.event;for(var a=b.target||b.srcElement,c,d;a&&"a"!==a.nodeName.toLowerCase();)a=a.parentNode;a&&"a"===a.nodeName.toLowerCase()&&a.href&&(c=a.href.match(g))&&(c=Math.round(h/2-275),d=0,420<f&&(d=Math.round(f/2-210)),window.open(a.href,"intent","scrollbars=yes,resizable=yes,toolbar=no,location=yes,width=550,height=420,left="+c+",top="+d),b.returnValue=!1,b.preventDefault&&b.preventDefault())}if(!window.__twitterIntentHandler){var g=/twitter\.com\/intent\/(\w+)/,
f=screen.height,h=screen.width;document.addEventListener?document.addEventListener("click",e,!1):document.attachEvent&&document.attachEvent("onclick",e);window.__twitterIntentHandler=!0}})()

	if(document.location.hostname != 'localhost') {
	var _gaq = [['_setAccount', 'UA-35774866-1'],['_trackPageview'],['_setDomainName', 'benjaminbenben.com']];(function(c,d,a){var b=c.createElement(a);b.type="text/java"+a;b.async=!0;b.src=d+(d+"s:"==c.location.protocol?"s://ssl":"://www")+".google-analytics.com/ga.js";a=c.getElementsByTagName(a)[0];a.parentNode.insertBefore(b,a)})(document,"http","script");
	}
</script>
</body>
</html>
