<!doctype html public "✰">
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1" >
	<title>BenjaminBenBen</title>
	<link rel="stylesheet" href="/style/bootstrap.css">
	<link rel="stylesheet" href="/style/main.css">
	<meta name="author" content="@benjaminbenben">
</head>
<body>
<div id="arrr"><div></div></div>
<div class="page">

<header>
	<a href="https://twitter.com/intent/user?screen_name=benjaminbenben" class="icon-twitter">benjaminbenben</a>
	<hr />
</header>

{{ content }}
</div>
</body>
</html>