---
layout: default
---
<h1>
	<a href="/" class="home">&larr;</a>
  	<a href="{{ page.url }}">
	  	{{ page.title }}
      {% if post.published == "draft" %}
      <small>DRAFT</small>
      {% endif %}
		<small class="date">{{ page.date | date: "%d %B %Y" }}</small>
	</a>
</h1>
<div {% if page.cr %}class="cr" data-cr="{{page.cr}}" data-cr-defer=""{% endif %}>

{% if post.published == "draft" %}
<p class="alert alert-warning">this is a draft post - there are probably errors and the url may change</p>
{% endif %}

{{ content }}
</div>
